

.location-area {
  width: 70%;
  margin: 70px auto;
  text-align: center;
  background-color: rgb(193, 236, 236);
  border-radius: 20px;
}

.location-title {
  font-size: 32px;
  margin-bottom: 40px;
  color: #001861;
  padding-top: 10px;
}

.carousel-box {
  position: relative;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  gap: 20px;
}

.card-item {
  flex: 0 0 calc(33.333% - 14px);
  text-align: center;
  transition: transform 0.4s ease;
}

.card-item img {
  width: 80%;
  height: 165px;
  object-fit: cover;
  border-radius: 25px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card-item:hover img {
  transform: scale(1.05);

}

.city-label {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #001861;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

/* Navigation Buttons */
.arrow-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: rgba(22, 2, 113, 0.6);
  color: rgb(4, 33, 249);
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 10;
  width: 30px;
}

.arrow-btn:hover {
  background: rgb(2, 48, 252);
  transform: translateY(-50%) scale(1.1);
}

.left-arrow { left: -25px; }
.right-arrow { right: -25px; }

/* Tablet */
@media (max-width: 992px) {
  .location-area {
    width: 80%;
  }
  .card-item {
    flex: 0 0 calc(50% - 10px);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .location-area {
    width: 95%;
  }
  .card-item {
    flex: 0 0 100%;
  }
}
