/* LEFT SHOP BOX */
.shop-box {
  width: 20%;
  height: auto;
  position: fixed;
  top: 200px;
  left: 0;
  background: #fff;
  padding: 20px;
  border-right: 3px solid green;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
  border-radius: 15px;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.shop-img {
  width: 100%;
  border-radius: 10px;
  min-height: 230px;
  max-height: 280px;
  object-fit: cover;
}

.shop-name {
  margin: 10px 0 5px;
  text-align: center;
         
        color: #034493;
}

.shop-desc {
  font-size: 14px;
  color: #555;

  text-align: justify;
}

.shop-rating,
.shop-time {
  font-size: 14px;
  margin: 5px 0;
  text-align: center;
}

/* SHOP ACTIONS */
.shop-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px 0;
}

.shop-actions button {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: green;
  color: #fff;
  transition: background 0.3s ease;
}

.shop-actions button:hover {
  background-color: darkgreen;
}

.shop-cart {
  flex: 1;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 6px;
}

.shop-fav {
  width: 45px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.shop-rating {
  margin: 8px 0px 10px 0px;
}

.main-container {
  display: flex;
  margin-top: 20px; /* navbar height */
}
/* RESPONSIVE */
@media (max-width: 1024px) {
  .shop-box {
    width: 100%;
    top: 200px;
    position: absolute;
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 3px solid rgb(3, 28, 89);
  padding-bottom: 0px;
  }
  .shop-img {
  width: 80%;
  border-radius: 10px;
  min-height: 150px;
  max-height: 180px;
  object-fit: cover;
}
  .shop-desc,.shop-name{

   font-size: 1.4rem;
  }
 
  .shop-rating,
.shop-time {
  font-size: 1.3rem;
}
}

@media (max-width: 600px) {
  .nav-center{
    display: none;
  }
 .shop-box {
    width: 100%;
    top: 16%;
    position: absolute;
  border-bottom: 3px solid rgb(3, 28, 89);
  }
  .shop-img {
  width: 80%;
  border-radius: 10px;
  min-height: 70px;
  max-height: 100px;
  object-fit: cover;
}
  .shop-desc{

   font-size: 0.8rem;
   margin: 0%;
  }
  .shop-name{
        font-size: 1rem;

  }
  .shop-rating,
.shop-time {
  font-size: 0.8rem;
    margin: 0%;
}
.main-container {
 
  margin-top: 130px; /* navbar height */
}
}